$vue-blue: #2c3e50;
$vue-green: #42b983;
$vue-gray-blue: #e7eaf5;

$colors: (
  'vue-blue': #2c3e50,
  'vue-green': #42b983,
  'gray-blue': #e7eaf5,
);

@each $key, $value in $colors {
  .bg-#{$key} {
    background-color: $value;
  }

  .text-#{$key} {
    color: $value;
  }
}
