$vue-blue: #2c3e50;
$vue-green: #42b983;
$light-blue: #ceedff;
$light-red: #ffebeb;
$light-yellow: #fbf7d9;
$font-color: #4c4c4e;


$colors: (
  'vue-blue': $vue-blue,
  'vue-green': $vue-green,
  'light-blue': $light-blue,
  'light-yellow': $light-yellow,
  'light-red': $light-red,
  'font-color': $font-color
);

@each $key, $value in $colors {
  .bg-#{$key} {
    background-color: $value;
  }

  .text-#{$key} {
    color: $value;
  }

  .btn-#{$key} {
    background-color: $value;
    border-color: $value;
    color: $vue-blue;
  }

  .btn-check:active+.btn-#{$key}, .btn-check:checked+.btn-#{$key}, .btn-#{$key}.active, .btn-#{$key}:active, .show>.btn-#{$key}.dropdown-toggle {
    border-color: $vue-blue;
  }
}
